<div class="row">
  <div class="col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <p class="m-b-0">Total Users</p>
            <h2 class="m-b-0">
              <span>{{totalUser}}</span>
            </h2>
          </div>
          <div class="avatar avatar-icon avatar-lg avatar-blue">
            <i class="anticon anticon-user"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <p class="m-b-0">Total Insurances</p>
            <h2 class="m-b-0">
              <span>{{totalInsurance}}</span>
            </h2>
          </div>
          <div class="avatar avatar-icon avatar-lg avatar-cyan">
            <i class="anticon anticon-bar-chart"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div *ngIf="contractStatus">
            <h2 class="m-b-0">Contract is stopped</h2>
<!--            <h2 class="m-b-0">-->
<!--              <span>{{contractStatus}}</span>-->
<!--            </h2>-->
          </div>
          <div *ngIf="!contractStatus">
            <h2 class="m-b-0">Contract is running</h2>
<!--            <h2 class="m-b-0">-->
<!--              <span>{{contractStatus}}</span>-->
<!--            </h2>-->
          </div>
          <div *ngIf="contractStatus" >
            <button type="submit" class="btn btn-success"  (click)="start()">START</button>
          </div>
          <div *ngIf="!contractStatus">
            <button type="submit" class="btn btn-success"   (click)="stop()">STOP</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  <div class="col-md-6 col-lg-3">-->
<!--    <div class="card">-->
<!--      <div class="card-body">-->
<!--        <div class="d-flex justify-content-between align-items-center">-->
<!--          <div>-->
<!--            <button type="submit" class="btn btn-success mb-2" (click)="start()">START CONTRACT</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-md-6 col-lg-3">-->
<!--    <div class="card">-->
<!--      <div class="card-body">-->
<!--        <div class="d-flex justify-content-between align-items-center">-->
<!--          <div>-->
<!--            <div class="col-auto">-->
<!--              <button type="submit" class="btn btn-success mb-2" (click)="stop()">STOP CONTRACT</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4>Add New Evaluator:</h4>
        <div class="m-t-25">
          <form>
            <div class="form-row align-items-center">
              <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup1">address</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">address:</div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup1" name="evaluatorAddress" [(ngModel)]="evaluatorAddress"  placeholder="">
                </div>
              </div>
<!--              <div class="col-auto">-->
<!--                <label class="sr-only" for="inlineFormInputGroup2">Username</label>-->
<!--                <div class="input-group mb-2">-->
<!--                  <div class="input-group-prepend">-->
<!--                    <div class="input-group-text">?????</div>-->
<!--                  </div>-->
<!--                  <input type="text" class="form-control" id="inlineFormInputGroup2" placeholder="">-->
<!--                </div>-->
<!--              </div>-->
              <!--<div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Name</label>
                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Ovration">
              </div>
              <div class="col-auto">
                <label class="sr-only" for="inlineFormInput2">Name</label>
                <input type="text" class="form-control mb-2" id="inlineFormInput2" placeholder="Pay Amount">
              </div>-->
              <div class="col-auto">
                <button type="submit" class="btn btn-success mb-2" (click)="addEvaluator()">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4>List Of last added  Evaluators</h4>
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea illum in iure magni modi necessitatibus obcaecati quaerat quia saepe, tempora!</p>-->
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Address</th>
<!--              <th scope="col">Last</th>-->
<!--              <th scope="col">Handle</th>-->
            </tr>
            </thead>
            <tbody >
            <tr>
              <th scope="row">1</th>
              <td>{{evaluatorsList[0]}}</td>
<!--              <td>Otto</td>-->
<!--              <td>@mdo</td>-->
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>{{evaluatorsList[1]}}</td>
<!--              <td>Thornton</td>-->
<!--              <td>@fat</td>-->
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>{{evaluatorsList[2]}}</td>
<!--              <td>the Bird</td>-->
<!--              <td>@twitter</td>-->
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>{{evaluatorsList[3]}}</td>
              <!--              <td>the Bird</td>-->
              <!--              <td>@twitter</td>-->
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>{{evaluatorsList[4]}}</td>
              <!--              <td>the Bird</td>-->
              <!--              <td>@twitter</td>-->
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4>List Of Waiting Insurances</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Client</th>
              <th scope="col">Investor</th>
              <th scope="col">Action1</th>
              <th scope="col">Action2</th>
              <!--              <th scope="col">Handle</th>-->
            </tr>
            </thead>
            <tbody >
            <tr *ngFor="let data of waitingList">
              <th scope="row">{{data.id}}</th>
              <td>{{data.client}}</td>
              <td>{{data.investor}}</td>
              <td>
                <div class="d-flex align-items-center">
                  <a href="javascript:;" class="btn btn-primary btn-tone btn-tone" (click)="refundToClient(data.id)">
                    <i class="anticon anticon-check"></i>
                    <span class="m-l-5">Refund to Client</span>
                  </a>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <a href="javascript:;" class="btn btn-primary btn-tone btn-tone" (click)="refundToInvestor(data.id)">
                    <i class="anticon anticon-check"></i>
                    <span class="m-l-5">Refund To Investor</span>
                  </a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
