<div class="side-nav">
  <div class="side-nav-inner">
    <ul class="side-nav-menu scrollable">

      <li class="nav-item">
        <a class="dropdown-toggle" routerLink="/panel/user" routerLinkActive="active">
                                <span class="icon-holder">
                                    <i class="anticon anticon-dashboard"></i>
                                </span>
          <span class="title">User</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="dropdown-toggle" routerLink="/panel/admin" routerLinkActive="active">
                                <span class="icon-holder">
                                    <i class="anticon anticon-wallet"></i>
                                </span>
          <span class="title">Admin</span>
        </a>
      </li>
    </ul>
  </div>
</div>
