<div class="page-header no-gutters">
  <div class="row align-items-md-center">
    <div class="col-md-6">
      <div class="media m-v-10">
        <!-- <div class="avatar avatar-cyan avatar-icon avatar-square">
           <i class="anticon anticon-star"></i>
         </div>-->
        <div class="media-body m-l-15">
          <h3 class="mb-0">Init Insurances</h3>
          <!--          <span class="text-gray font-size-13">Dev Team</span>-->
        </div>
      </div>
    </div>
    <!--<div class="col-md-6">
      <div class="text-md-right m-v-10">
        <div class="btn-group">
          <button id="list-view-btn" type="button" class="btn btn-default btn-icon">
            <i class="anticon anticon-ordered-list"></i>
          </button>
          <button id="card-view-btn" type="button" class="btn btn-default btn-icon active">
            <i class="anticon anticon-appstore"></i>
          </button>
        </div>
      </div>
    </div>-->
  </div>
</div>
<div class="row">
  <div class="col-lg-9">
    <div class="row" id="card-view">
      <div *ngFor="let data of initList" class="col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="m-t-20 text-center">
              <h4 class="m-t-30">{{data.id}}</h4>
              <p>{{data.client}}</p>
            </div>
            <div class="text-center m-t-30">
              <a href="javascript:;" class="btn btn-primary btn-tone btn-tone" (click)="acceptRequest(data.id, data.investorPay)">
                <i class="anticon anticon-check"></i>
                <span class="m-l-5">Accept</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="media m-v-10">
        <!-- <div class="avatar avatar-cyan avatar-icon avatar-square">
           <i class="anticon anticon-star"></i>
         </div>-->
        <div class="media-body m-l-15">
          <h3 class="mb-0">InProcess Insurances</h3>
          <!--          <span class="text-gray font-size-13">Dev Team</span>-->
        </div>
      </div>
    </div>
    <div class="row" id="card-view2">
      <div *ngFor="let data of processList" class="col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="m-t-20 text-center">
              <h4 class="m-t-30">{{data.id}}</h4>
              <p>{{data.client}}</p>
            </div>
            <div class="text-center m-t-30">
              <a href="javascript:;" class="btn btn-primary btn-tone btn-tone" (click)="requestEvaluator(data.id)">
                <i class="anticon anticon-check"></i>
                <span class="m-l-5">Request For Evaluation</span>
              </a>
            </div>
            <div class="text-center m-t-30">
              <a href="javascript:;" class="btn btn-primary btn-tone btn-tone" (click)="checkIfExpired(data.id)">
                <i class="anticon anticon-check"></i>
                <span class="m-l-5">Check if is expired</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="media m-v-10">
        <!-- <div class="avatar avatar-cyan avatar-icon avatar-square">
           <i class="anticon anticon-star"></i>
         </div>-->
        <div class="media-body m-l-15">
          <h3 class="mb-0">finished Insurances</h3>
          <!--          <span class="text-gray font-size-13">Dev Team</span>-->
        </div>
      </div>
    </div>
    <div class="row" id="card-view3">
      <div *ngFor="let data of finishList" class="col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="m-t-20 text-center">
              <h4 class="m-t-30">{{data.id}}</h4>
              <p>{{data.client}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="media m-v-10">
        <!-- <div class="avatar avatar-cyan avatar-icon avatar-square">
           <i class="anticon anticon-star"></i>
         </div>-->
        <div class="media-body m-l-15">
          <h3 class="mb-0">Waiting For Evaluation Insurances</h3>
          <!--          <span class="text-gray font-size-13">Dev Team</span>-->
        </div>
      </div>
    </div>
    <div class="row" id="card-view4">
      <div *ngFor="let data of waitingList" class="col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="m-t-20 text-center">
              <h4 class="m-t-30">{{data.id}}</h4>
              <p>{{data.client}}</p>
            </div>
            <div class="text-center m-t-30">
              <a href="javascript:;" class="btn btn-primary btn-tone btn-tone" (click)="refundToClient(data.id)">
                <i class="anticon anticon-check"></i>
                <span class="m-l-5">Refund To Client</span>
              </a>
            </div>
            <div class="text-center m-t-30">
              <a href="javascript:;" class="btn btn-primary btn-tone btn-tone" (click)="refundToInvestor(data.id)">
                <i class="anticon anticon-check"></i>
                <span class="m-l-5">Refund To Investor</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4>Request Insurance:</h4>
            <div class="m-t-25">
              <form>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup1">Username</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">Duration in Days</div>
                      </div>
                      <input type="text" class="form-control" name="duration" [(ngModel)]="duration" id="inlineFormInputGroup1" placeholder="">
                    </div>
                  </div>
                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup2">Username</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">Pay Amount</div>
                      </div>
                      <input type="text" class="form-control" name="clientPay" [(ngModel)]="clientPay" id="inlineFormInputGroup2" placeholder="">
                    </div>
                  </div>
                  <!--<div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">Name</label>
                    <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Ovration">
                  </div>
                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput2">Name</label>
                    <input type="text" class="form-control mb-2" id="inlineFormInput2" placeholder="Pay Amount">
                  </div>-->
                  <div class="col-auto">
                    <button type="submit" class="btn btn-success mb-2" (click)="addRequest()">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card card-body">
      <h5>Address</h5>
      <p>{{account}}</p>
      <hr>
      <h5>Current Insurance</h5>
      <div>
        <div class="m-t-20 text-left">
          <p>id: {{currentUserInsurance.id}}</p>
          <p>startTime: {{currentUserInsurance.startTime}}</p>
          <p>expireTime: {{currentUserInsurance.expireTime}}</p>
          <p>duration: {{currentUserInsurance.duration}} days</p>
          <p>investor: {{currentUserInsurance.investor}}</p>
          <p>client pay: {{currentUserInsurance.clientPay}}</p>
          <p>investorPay: {{currentUserInsurance.investorPay}}</p>
          <p>status: {{currentUserInsurance.status}}</p>
          <p>evaluator: {{currentUserInsurance.evaluator}}</p>
          <p>evaluator status: {{currentUserInsurance.evaluatorStatus}}</p>
        </div>
      </div>
      <hr>
      <h5>Balance</h5>
      <p>usableBalance: {{usableBalance}}</p>
      <p>lockedBalance: {{lockedBalance}}</p>
    </div>
  </div>
</div>
